body {
    background-color: rgb(241, 203, 212);
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color:rgb(112, 151, 121);
}

button {
    border: none;
    background: none;
    font: inherit;
}
.log-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;

}
.log-page h2 {
  font-family: 'Montserrat', sans-serif;
  margin: 30px;
  font-weight: 550;
  letter-spacing: 1.5px;
  }

.logged-meals {
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
    margin: 24px 0;
}

.meal-bubble {
    background-color: rgb(251, 248, 241);
    width: min(120px, 40vw);
    height: 120px;
    padding: 8px 8px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    text-align: center;
    flex: 0 0 160px;
    color: rgb(112, 151, 121);
    /*padding: 40px 22px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    color: rgb(5, 101, 53);
    display: inline-block; */

}

.meal-card {
    width: 100%;
    max-width: 520px;
    flex-direction: column;

    background-color: rgb(252, 248, 242);
    padding: 10px 18px;
    border-radius: 10px;
    margin: 44px  0;
  
    font-family: "Poppins", sans-serif;
    color: rgb(112, 151, 121);
}

.details-btn {
    display: block;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    border-radius: 6px;
    color: rgb(252, 248, 242);
    background-color: rgb(112, 151, 121);
    margin: 8px auto 0;
    padding: 3px;


}

.edit-btn {
    margin: 12px auto 0;
    color: rgb(112, 151, 121);
    border-radius: 10px;
    cursor: pointer;
    transition: .2s ease;
    border: none;
    background: none;
    font: inherit;
}

.edit-btn:hover {
    opacity: .75;
}

.search-btn {
    background-color: rgb(112, 151, 121);
    color: rgb(252, 248, 242);
    padding: 3px;
    border-radius: 6px;
    cursor: pointer;
    transition: .2s ease;

}